flask-ngrok
SpeechRecognition
gtts
gunicorn
numpy
pandas
librosa==0.7.2
numba==0.49.1
llvmlite==0.32.1
nltk
https://download.pytorch.org/whl/cpu/torch-1.3.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.4.2%2Bcpu-cp36-cp36m-linux_x86_64.whl
ipython
spacy
